<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/global.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap"
    />
    <title>Hangman</title>
</head>

{{template "header"}}

<body>



{{if or (eq .Status "") (eq .Status "USED")}}
{{template "play" .}}
{{else if eq .Status "WIN"}}
<h6>Cool</h6>
<form action="/reload" method="post">
  <input type="submit" name="action" value="Reload">
</form>
{{else if eq .Status "LOOSE"}}
<h6>Pas cool</h6>
<form action="/reload" method="post">
  <input type="submit" name="action" value="Reload">
</form>
{{else if eq .Status "CONNEXION"}}
{{template "connexion page"}}
{{else if or (eq .Status "LOGIN") (eq .Status "LOGIN-ERROR")}}
{{template "login"}}
{{if eq .Status "LOGIN-ERROR"}}
<p>Wrong email or passw</p>
{{end}}
{{else if or (eq .Status "SIGNIN") (eq .Status "SIGNIN-ERROR")}}
{{template "signin"}}
{{if eq .Status "LOGIN-ERROR"}}
<p>Email already used</p>
{{end}}
{{end}}


</body>

{{template "footer"}}

</html>
