<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Hangman</title>
</head>

{{template "header"}}

<body>
<main>
  <form action="/hangman" method="post">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Envoyer">
</form>
</main>

<div class="word">
  {{.StrWord}}
</div>
</body>

{{template "footer"}}

</html>
