body {
    margin: 0;
    line-height: normal;
    font-family: var(--font-kodchasan);
  }
  
  :root {
    /* fonts */
    --font-kodchasan: Kodchasan;
  
    /* Colors */
    --english-violet: #413c58;
    --darkseagreen: #bfd7b5;
    --cream: #e7efc5;
    --color-black: #000;
    --ash-gray: #a3c4bc;
    --tea-green :#BFD7B5;
  }
