body {
    background-color: #fff;
    font-family: var(--font-kodchasan);
}

main {
    padding: 20px;
}
@media screen and (min-width: 601px){
footer {
    background-color: var(--ash-gray);
    font-family: var(--font-kodchasan);
    color: black;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
}
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

.word {
  text-align: center;
  font-size: 500% ;
}


/* =====================================================================header */

#btnid{
  float: right;
  margin-right: 20px;
}

#btnid-2{
  float: left;
  margin-left: 20px;
}

header{
    width: 100%;
    height: 9vh;
    color:black;
    background: var(--ash-gray);
    font-size: 1em;
    line-height: 1em;
}


.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid var(--ash-gray);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: var(--english-violet);
  
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%; 
  color: #ece17e;
}


.btn {
  color: black;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;
  font-family: var(--font-kodchasan);
}


.titre {
  text-transform: uppercase;
  font-size: 3vw;
}
/* ================================================================ fin bouton entete */

.letter{
  color: var(--english-violet);
  font-size: 22px;
  text-transform: uppercase;
}

.attempts{
  color: var(--english-violet);
  font-size: 60px;
}

.item{
  text-align: center;
  font-family: Kodchasan;
  font-style: normal;
}

.image{
  image-rendering: optimizeQuality;
  text-align: center;
  size-adjust: 50hv;
}

img {
  max-width: 100%;
  height: auto;
}

.connexion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
}

input[type="submit"] {
  border-radius: 5px; 
  border-color: var(--tea-green);
  background-color: var(--tea-green) ; 
  color: var(--english-violet); 
  padding: 10px 20px; 
  cursor: pointer;
  font-family: var(--font-kodchasan);
  height: 100vh;
  max-width: 100%;
  height: auto;
}

input[type="submit"]:hover {
  background-color: var(--cream); 
}

input[type="text"]{
  max-width: 100%;
  height: auto;
}

form{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px){
  .container-border{
    border-radius: 36px;
    background: var(--tea-green);
    width: 100%;
    height:7% ;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    overflow: hidden;
    order: 2;
  }
  
  .container-center{
    border-radius: 52px;
    background: var(--cream);
    width: 100%;
    height:80% ;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .main-container{
    margin-top: 1em;
    width: 100%;
    max-width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}


@media screen and (min-width: 601px){
  .container-border{
    border-radius: 36px;
    background: var(--tea-green);
    width: 18%;
    height:100% ;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    overflow: hidden;
  }
  
  .container-center{
    border-radius: 52px;
    background: var(--cream);
    width: 51%;
    height:100% ;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .main-container{
    margin-top: 1em;
    width: 100%;
    max-width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}



/* ----------------------- */

.hangman {
	fill: none;
	stroke: var(--cream);
	stroke-width: 2;
  transition: 0.30s;
	stroke-linecap: round;
	stroke-miterlimit: 10;
}

.display {
	stroke: var(--english-violet);
	display: grid;
}

.dead {
  stroke: red;
}


/* =========================Board Css===============================*/

.podium{
  margin-top: 1em;
  width: 100%;
  max-width: 100%;
  height: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.change{
  height:100% ;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 600px){
  .order{
    order: 2;
  }
  .phone-mode{
    flex-wrap: wrap;
  }
}

.first{
  height: 80%;
  width: 33%;
  background-color: var(--ash-gray);
}
.second{
  height: 60%;
  width: 33%;
  background-color: var(--ash-gray);
}
.third{
  height: 40%;
  width: 33%;
  background-color: var(--ash-gray);
}
.top{
  background-color: var(--cream);
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 1em;
}

.boardFont{
  color: var(--english-violet);
  font-size: 3vmax;
  text-transform: uppercase;
}

.bottom{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}


.calque img {
  max-width: 100%;
  height: auto;
  width: 20%;
  margin-top: 40vh;
  margin-left: 80vw;
}

.parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.plan1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.plan2 {
  z-index: 1;
  width: 100%;
}