<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/global.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap"
    />
    <title>Hangman</title>
</head>

{{template "header"}}

<body>


{{if eq .Status "CONNEXION"}}
{{template "connexion page"}}
{{else if or (eq .Status "LOGIN") (eq .Status "LOGIN-ERROR")}}
{{template "login"}}
{{if eq .Status "LOGIN-ERROR"}}
<p>Wrong email or passw</p>
{{end}}
{{else if or (eq .Status "SIGNIN") (eq .Status "SIGNIN-ERROR")}}
{{template "signin"}}
{{if eq .Status "SIGNIN-ERROR"}}
<p>Email already used</p>
{{end}}
{{else}}
{{template "play" .}}
{{end}}

</body>

{{template "footer"}}

</html>
