
{{define "play"}}

<div class="main-container">
    <div class="container-border">
        <div class="item letter">
            {{range .Hangman.ListLetter}}
                {{printf "%c" .}}
            {{end}}
        </div>
        <div class="item attempts">
            {{.Hangman.Attempts}}
        </div>
        <div class="item letter">
            {{range .Hangman.ListWord}}
                {{.}}
            {{end}}
        </div>
    </div>
    <div class="container-center">
        {{if eq .Hangman.ToFind ""}}
        <div class="item attempts">
            Welcome
        </div>
        <div class="item letter"><div>{{template "Level"}}</div></div>
        {{else}}
        <div class="item attempts">
            {{range .Hangman.Word}}
                {{printf "%c" .}}
            {{end}}
        </div>
        {{template "hangman" .}}
        <div class="item letter">
            {{if or (eq .Status "USED") (eq .Status "")}}
            <form action="/hangman" method="post">
                <input type="text" id="input" name="input" required>
                <input type="submit" value="submit">
            </form>
            {{end}}
            {{if eq .Status "USED"}}
            <p class="item letter">Already guessed</p>
            {{end}}
            {{if eq .Status "WIN"}}
            <p class="item letter">You win !!!</p>
            <div>{{template "Level"}}</div>
            {{end}}
            {{if eq .Status "LOOSE"}}
            <p class="item letter">You loose !!!</p>
            <div>{{template "Level"}}</div>
            {{end}}
        </div>
        {{end}}
    </div>
    <div class="container-border">
        <div class="item">
            <div class="attempts">{{.Data.Username}}</div>
            <div class="letter">STAT</div>
        </div>
        <div class="item">
            <div class="attempts">{{.Data.Score}}</div>
            <div class="letter">SCORE</div>
        </div>
        <div class="item">
            <div class="attempts">{{.Data.BestScore}}</div>
            <div class="letter">BEST SCORE</div>
        </div>
    </div>
</div>

{{end}}


{{define "Level"}}
<form action="/level" method="post">
    <input type="submit" name="action" value="Easy">
    <input type="submit" name="action" value="Medium">
    <input type="submit" name="action" value="Hard">
</form>
{{end}}