{{define "header"}}

<header>
    <div class="header-left">
        <div><form action="/header" method="post">
            <input type="submit" name="action" value="Play">
        </form></div>
        <div id="btnid-2"><a class="titre">Hangman</a></div>
    </div>
    <div class="header-right">
        <div><form action="/header" method="post"><input type="submit" name="action" value="Profil"></form></div>
        <div><form action="/header" method="post"><input type="submit" name="action" value="ScoreBoard"></form></div>
        <div>
        <form action="/theme" method="post">
            <label for="dropdown">Theme</label>
            <select id="dropdown" name="dropdown">
                <option value="">-Change theme-</option>
                <option value="blue">Lan Zhan</option>
                <option value="red">Wei Wing</option>
                <option value="brown">Coffee</option>
                <option value="green">Shen Qing Qiu</option>
            </select>
            <button type="submit">Change</button>
          </form>
    </div>
    </div>
    </form>
    
</header>
{{end}}