{{define "header"}}
<header>
    <div class="header-left">
        <form action="/header" method="post">
            <input type="submit" name="action" value="Play">
        </form>
        <div class="title">Hangman</div>
    </div>
    <div class="header-right">
        <form action="/header" method="post"><input type="submit" name="action" value="Profile"></form>
        <form action="/header" method="post"><input type="submit" name="action" value="ScoreBoard"></form>
        <form action="/theme" method="post">
            <select id="dropdown" name="dropdown">
                <option value="">Theme</option>
                <option value="blue">Lan Zhan</option>
                <option value="red">Wei Wing</option>
                <option value="brown">Coffee</option>
                <option value="green">Shen Qing Qiu</option>
            </select></button>
            <button type="submit">ok</button>
        </form>
    </div>
</header>
<nav role="navigation" id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <form action="/header" method="post" id="menu">
        <label><div class="titre">HANGMAN</div></label>
        <label>• Play<input type="submit" name="action" value="Play"></label>
        <label>• Profile<input type="submit" name="action" value="Profile"></label>
        <label>• ScoreBoard<input type="submit" name="action" value="ScoreBoard"></label>
        <label><form action="/theme" method="post">
            <select id="dropdown" name="dropdown">
                <option value="">Theme</option>
                <option value="blue">Lan Zhan</option>
                <option value="red">Wei Wing</option>
                <option value="brown">Coffee</option>
                <option value="green">Shen Qing Qiu</option>
            </select></button>
            <button type="submit">ok</button>
        </form></label>
    </form>
</nav>


{{end}}